<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
    <div>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit"> Login </button>
</form>

<form action="/gmail-login" method="GET">
    <button type="submit"> Gmail </button>
</form>

<form action="/twitterLogin" method="POST">
    <button onclick="twitterLogin()"> Twitter </button>
</form>

<form action="/facebookLogin" method="POST">
    <button onclick="facebookLogin()"> Facebook </button>
</form>

<a href="/register">Register</a>